# 벡터 스페이스 모델
## 각 문서의 tf-idf에 기반한 벡터로 표현 

dataframe을 만들기 위해서 pandas를 이용였습니다. 

그리고 분석 할 문장을 선언해주고, split()을 통해서 띄어쓰기마다 나누어 리스트로 저장하고                        
저장 된 리스트는 sorted()를 이용해서 정렬했습니다.                                                                        

제가 2번를 먼저 풀고, 이 1번 문제를 풀었습니다.                                                                        
1번 문제를 풀며 코드를 최대한 간소화 시켜보고싶어서                                                                        
if절을 한줄로 표시해 보았습니다!
                        
그리고 doc1,2,3,4의 term을 중복없이 담고있는 doc 리스트를 만들고, 알파벳 순으로 정렬했습니다.

In [10]:
import pandas as pd

doc1 = 'new home sales top forecasts'.split()
doc2 = 'home sales rise in july'.split()
doc3 = 'increase in home sales in july'.split()
doc4 ='new home sales rise in November'.split()

doc = []
for i,j,jj,jji in zip(doc1,doc2,doc3,doc4) :
    if i not in doc: doc.append(i)
    if j not in doc :doc.append(j)
    if jj not in  doc :doc.append(jj)
    if jji not in  doc :doc.append(jji)
        
        
if doc3[-1] not in doc: doc.append(doc3[-1])    
if doc4[-1] not in doc: doc.append(doc4[-1])
    
doc = sorted(doc)

['November',
 'forecasts',
 'home',
 'in',
 'increase',
 'july',
 'new',
 'rise',
 'sales',
 'top']

df_i를 구하기 위해서 
doc1,2,3,4 전체 term으로 구성 된 doc_all(중복 포함)을 만들었습니다.

그리고 전체 문서 doc(중복X)의 요소 term을 
하나씩 뽑아 비교하며 count하여 각 term의 갯수를 세었고,

doc리스트 순서에 맞도록  df_i에 갯수를 추가하였습니다.

In [7]:
df_i = []
doc_all = doc1+doc2+doc3+doc4

for j in range(0,len(doc)):
    df_i.append(doc_all.count(doc[j]))

그리고 idf를 계산하기 위해서                                                                                       
math를 호출해서 log계산함수를 사용했습니다.                                                                                      

n : 전체 문서의 수 = doc(1,2,3,4)                                                                                       
그리고 df_i에서 순서대로 하나씩 꺼내와서                                                                                       
idf 계산값을 doc term순서에 맞게 append했습니다.

In [8]:
    
import math 
idf_i = []
n = len(doc1)+len(doc2)+len(doc3)+len(doc4)

for k in range(0,len(df_i)):
    result = round(math.log10(n/df_i[k]),5)
    idf_i.append(result)


이렇게 만들어진                                                                                           
doc , df_i, idf_i 를 통해                                                                                       
tf-idf에 기반한 dataframe을 생성했습니다!

In [9]:
dataframe = pd.DataFrame({"df_i":df_i, 
                 "idf_i":idf_i}) 
dataframe.index= doc

dataframe

           df_i    idf_i
November      1  1.34242
forecasts     1  1.34242
home          4  0.74036
in            4  0.74036
increase      1  1.34242
july          2  1.04139
new           2  1.04139
rise          2  1.04139
sales         4  0.74036
top           1  1.34242